<div class="menu-bar__container">
	<div class="menu-bar__logo">
		<img
			src="assets/ps-logo.png"
			alt="playstation logo"
			srcset=""
			width="140px"
			height="32px"
		>
	</div>
	<div class="menu-bar__item">
		<ul>		
			
			<li><a href="https://discord.gg/BKdkexqS" target="_blank">DISCORD</a></li>
			<li><a href="https://www.linkedin.com/in/antônio-flávio-s-03170b280" target="_blank">LINKEDIN</a></li>
			<li><a href="https://github.com/Flaie91?tab=repositories" target="_blank">GITHUB</a></li>
			<li><a href="#">|</a></li>
			<li><a href="#" target="_blank">VEJA MAIS NOVIDADES...</a></li>
			<li><a href="#" target="_blank">SOBRE</a></li>
		</ul>
	</div>
</div>
